################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Calendar/settings.py
/Calendar/__pycache__/settings.cpython-36.pyc
/Calendar/__pycache__
/Calendar/design_exported.png
/design_exported.png
/Calendar/icon_positions_locations.pyc
/Calendar/DebugInterface.pyc
/Calendar/DebugConsole.pyc
/Calendar/DataSourceInterface.pyc
/Calendar/CalendarInterface.pyc
/Calendar/CalendarEvent.pyc
/Calendar/design_exported_old.png
