""" To quickly get started, fill in the following details:"""

ical_urls = [
	"https://calendar.google.com/calendar/ical/en.usa%23holiday%40group.v.calendar.google.com/public/basic.ics"
]

highlighted_ical_urls = [
]

rss_feeds = [
    "http://feeds.bbci.co.uk/news/world/rss.xml#"
]

api_key = ""
owm_paid_subscription = False
location = "Julich, DE"
week_starts_on = "Monday"
display_colours = "bwr"
language = "en"
datetime_encoding = "UTF-8" # UTF-8
units = "metric" #aviation (celcius,degrees/knots), metric (celcius,kmh), imperial(f,mph)
hours = "24"
update_interval = 60


"""DESIGN"""
font_size = 14  # does not affect every text
font_boldness = "semibold"   # extralight, light, regular, semibold, bold, extrabold
line_thickness = 1 #1-3 Thickness advised // Default = 1 // day-list view only!
choosen_design = "month-overview" # month-overview, day-list, day-view, agenda-list, month-view
general_settings = {    # General settings that designs may use
    "info-area" : "rss",    # empty, events, rss
    "highlight-event-days" : True,
	"weather-info" : True
}


"""DEBUG"""
render_to_display = True
render_to_file = False		# Will be called "design_exported.png" in Calendar-directory
calibrate_hours = [0, 12, 18]
print_technical_data = False
