""" To quickly get started, fill in the following details:"""

ical_urls = [
]

highlighted_ical_urls = [
]

rss_feeds = [
]

crypto_coins = [
]

api_key = ""
owm_paid_subscription = False
location = "Berlin, DE"
week_starts_on = "Monday"
display_colours = "bwr"
language = "en"
datetime_encoding = "UTF-8" # UTF-8
units = "metric"    # aviation (celcius,degrees/knots), metric (celcius,kmh), imperial(f,mph)
hours = "24"
update_interval = 60
max_loop_count = 0  # From 0 to 86400 representing the maximum number the loop is executed, with 0 being unlimited
run_on_hour = True  # If True, updates calendar every full hour, ignoring differing update_interval


"""DESIGN"""
font_size = 14  # does not affect every text
font_boldness = "semibold"   # extralight, light, regular, semibold, bold, extrabold
line_thickness = 1  # 1-3 Thickness advised
choosen_design = "month-overview" # month-overview, day-list, day-view, agenda-list, month-view, image-frame
general_settings = {    # General settings that designs may use
    "info-area" : "rss",    # empty, events, rss, crypto
    "highlight-event-days" : True,
	"weather-info" : True,
    "image-folder" : "",
    "overlay-image" : ""    # Size must be 384x640px with default display
}


"""DEBUG"""
render_to_display = True
render_to_file = False		# Will be called "design_exported.png" in Calendar-directory
calibrate_hours = [0, 12, 18]
print_technical_data = False
